<a href="https://colab.research.google.com/github/waqarmm/AI-Labs/blob/master/DS_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import matplotlib as plt

data=pd.read_csv('./provincial-number-of-government-employees-by-grade-and-sex.csv')
data['Male']=pd.to_numeric(data['Male'],errors='coerce')
data['Female']=pd.to_numeric(data['Female'],errors='coerce')
#data['Province']=pd.to_numeric(data['Province'],errors='coerce')
data=data.drop(['Unnamed: 5'],axis=1)
data.head()

   Year Province  Grade    Male  Female
0  2010   Punjab      1  8580.0   488.0
1  2010   Punjab      2  5321.0   465.0
2  2010   Punjab      3  1816.0   155.0
3  2010   Punjab      4  1739.0   735.0
4  2010   Punjab      5  3333.0    53.0

In [8]:
data.describe()

             Grade  Unnamed: 5
count  1031.000000         0.0
mean     11.327837         NaN
std       6.229369         NaN
min       1.000000         NaN
25%       6.000000         NaN
50%      11.000000         NaN
75%      17.000000         NaN
max      22.000000         NaN

In [9]:
data.isnull()

       Year  Province  Grade   Male  Female  Unnamed: 5
0     False     False  False  False   False        True
1     False     False  False  False   False        True
2     False     False  False  False   False        True
3     False     False  False  False   False        True
4     False     False  False  False   False        True
...     ...       ...    ...    ...     ...         ...
1026  False     False  False  False   False        True
1027  False     False  False  False   False        True
1028  False     False  False  False   False        True
1029  False     False  False  False   False        True
1030  False     False  False  False   False        True

[1031 rows x 6 columns]

In [4]:
data1=pd.read_csv('./olx_car_data_csv.csv')
data1.head()
data1.describe()

UnicodeDecodeError: ignored